/* Callout Style */
.callout {
  width: 100%;
  text-align: center;
  padding: 60px 0;
}
.callout-title {
  font-size: 36px;
  color: #313236;
  margin-bottom: 20px;
}
.callout-description {
  font-size: 17px;
  text-align: center;
  color: #7C7D8D;
  mix-blend-mode: normal;
  opacity: 0.8;
}